*{
    padding: 0%;
}
.form-check-in-out{
    border: solid red 1px;
    max-width: 800px;
}
.form-check-in-out>form>label{
    display: none;
}
.date-check-in-out>div>input{
    border-radius: 0%;
}
